@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.mw-theme {
  @apply bg-white dark:bg-neutral-900 text-gray-900 dark:text-gray-100;
}

.mw-text-nav {
  @apply text-gray-700 dark:text-gray-300;
}

.mw-text-label {
  @apply text-gray-600 dark:text-gray-400;
}

.mw-text-subheading {
  @apply font-bold uppercase text-gray-400 dark:text-gray-500 tracking-wide;
}

.mw-prose {
  @apply prose;
}

img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox bug during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

/* desktop */
@media (min-aspect-ratio: 4/3) {
  section img, section video {
    width: auto;
    max-width: 100%;
  }
}

/* desktop */
@media (min-aspect-ratio: 4/3) and (min-width: 480px) {
  section img, section video {
    max-height: calc(100vh - 100px);
  }
}

/* mobile */
@media (max-aspect-ratio: 4/3){
  section img, section video {
    width: auto;
    max-width: 100%;
  }
}

/* mobile */
@media (max-aspect-ratio: 4/3) and (min-width: 480px) {
  section img, section video {
    max-height: calc(100vh - 100px);
  }
}
