---
layout: default
active: posts
---


<div class="flex flex-col max-w-xl w-full px-6 py-4 sm:px-0 mx-auto content">

  {% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
  {% unless forloop.first %}</ul>{% endunless %}
  <h1 class="text-xl font-bold text-gray-500">{{ currentdate }}</h1>

  <ul class="mb-6">
    {% assign date = currentdate %}
    {% endif %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

</div>
