---
layout: default
active: posts
---


<div class="flex flex-col max-w-xl w-full px-6 py-4 sm:px-0 mx-auto content">

  {% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
  {% unless forloop.first %}</ul>{% endunless %}
  <h1 class="text-gray-500 uppercase tracking-wide font-bold text-sm">{{ currentdate }}</h1>

  <ul class="mb-6">
    {% assign date = currentdate %}
    {% endif %}
    <li class="mb-1 sm:mb-0 flex flex-row">
      <div class="flex flex-row items-center align-center mr-2">
        {% for tag in post.tags %}
        <div class="h-6 w-6 tag-{{tag}}">
          {% if tag == "photo" %}
          {% include icon_photo.html %}
          {% else %}
          {% include icon_news.html %}
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

</div>
