{% assign smallest = resized | sort: 'width' | first %}
{% assign largest = resized | sort: 'width' | last %}
{% capture srcset %}
{% for i in resized %}
/{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

<img
  class="mx-auto lazy"
  src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{largest.width}} {{largest.height}}'%3E %3Crect width='100%' height='100%' fill='%23edf2f7' /%3E %3C/svg%3E"
  data-src="/{{ original.path }}"
  data-srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w"
  data-sizes="100w"
  {% if alt %}alt="{{ alt }}"{% endif %}
  {% if class %}class="{{ class }}"{% endif %}
/>
