<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% feed_meta %}
  {% seo %}
  <link rel="stylesheet" href="/css/site.css">
</head>
<html class="bg-white antialiased">
  <body class="font-sans text-base text-gray-900 leading-relaxed">

    <div class="flex flex-col lg:flex-row lg:justify-center">

      <nav class="lg:mt-10 w-64 p-6">
        <div class="lg:mb-2">
          <h1 class="font-bold">{{ site.title }}</h1>
        </div>

        <div class="nav">
          <ul class="font-medium text-gray-700">
            {% include nav_link.html title="posts" url="/" %}
            {% include nav_link.html title="photos" url="/photos" %}
            {% include nav_link.html title="about" url="/about" %}
          </ul>
        </div>
      </nav>

      <section class="lg:mt-10 w-full max-w-xl px-6 py-6 lg:px-0">
        {{ content }}
      </section>

      <aside class="w-64">
      </aside>

    </div>

  </body>
</html>
