<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Michael Winton's weblog">
    <meta name="theme-color" content="#ffffff">

    {% feed_meta %}
    {% seo %}

    <link rel="stylesheet" href="{{ 'css/site.css' | relative_url }}">
  </head>
  <body class="bg-white antialiased font-sans text-base text-gray-900 leading-relaxed">

    <div class="flex flex-col">

      <nav class="flex flex-col max-w-xl w-full px-6 py-6 sm:px-0 mx-auto">
        <div class="lg:mb-2">
          <h1 class="font-bold">{{ site.title }}</h1>
        </div>

        <div class="nav">
          <ul class="flex flex-row space-x-4 font-medium text-gray-700">
            {% include nav_link.html title="posts" url="/" %}
            {% include nav_link.html title="photos" url="/photos" %}
            {% include nav_link.html title="about" url="/about" %}
          </ul>
        </div>
      </nav>

      <section>
        {{ content }}
      </section>

    </div>

    <script>
     window.lazyLoadOptions = {
       class_loading: "animate-pulse"
     };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
  </body>
</html>
