---
layout: default
---

<div class="content-column">
  <div class="post-header photo-header">
    <h1>
      {{ page.title }}
    </h1>

    <p class="post-meta">
      {{ page.date | date: '%B %d, %Y' }}
    </p>
  </div>
</div>

<div class="photo-layout">
  <section>
    <span>
      {% picture {{ page.photo }} --alt {{ page.title}} %}
    </span>
  </section>

  {% if content != "" %}
  <div class="content-column">
    <div class="prose photo-caption">
      {{ content }}
    </div>
  </div>
  {% endif %}
</div>
